body{
    /*"webgradients.com" to choose css code for various background color gradients*/
    background-image: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}
.col-md-6{
    border: 3px solid black;
    background-image: linear-gradient(to left, #b154ae 0%,#30cfd0 100%);
    margin-top: 175px !important;
    padding: 20px;
}
button{
    margin: 20px !important;
    border: 2px solid black !important;
    font-family: cursive !important;
}
h1{
    font-family: cursive;
    color:rgb(65, 56, 56) !important;
    margin: 20px !important;
}
h2{
    font-family: cursive;
    font-weight: bold !important;
    color:rgb(66, 64, 64) !important;
    margin-top: 30px !important;
}